
/*----------------------------------------------------
	リンク
----------------------------------------------------*/
button,
a {
	color: var(--color);
	text-decoration: none;
	transition: var(--easeDuration) var(--easeTheme);

	cursor: pointer;
	img {

	}
	@media (hover: hover) {
		&:hover {
		}
	}
}

@media (hover: hover) {
	a[href^='tel:'] {
		pointer-events: none;
	}
}
@media (hover: none) {
	a, button {
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: transparent;
	}
}
[data-scroll-target] {
	content: '';
	display: block;
	position: relative;
	pointer-events: none;
	top: calc(-1 * var(--header-height));
}
