@use '../Base/config' as config;
/*----------------------------------------------------
	フォント
----------------------------------------------------*/
html {
	font-size: 16px;
	@include config.sp {
		font-size: (16/375*100vw);
	}
	@include config.tab {
		font-size: (16/750*100vw);
	}
	@include config.pc {
		font-size: (16/1440*100vw);
	}
	@include config.wide {
		font-size: (16*1680/1440+px);
	}
}
body {
	font-family: var(--font);
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	word-wrap:break-word;
	color: var(--color);
}
.serif {
	font-family: var(--serif);
}
