@use '../Base/config' as config;
/*----------------------------------------------------
	フォーム
----------------------------------------------------*/
[hidden] {
	display: none !important;
}

[disabled] {
	cursor: not-allowed;
}

:focus:not(:focus-visible) {
	outline: none;
}

.sr-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	left: -9999px;
	top: -9999px;
}

input,
select,
label {
	vertical-align: middle;
	color: var(--color);
}

[type="text"] {
	line-height: normal;
}

input[type="text"],
input[type="email"],
input[type="tel"],
button {
	appearance: none;
	border-radius: 0;
	outline: none;
	background: transparent;
	color: var(--color);
	font-family: var(--font);
	font-size: 16px;
}
input[type="submit"],
button {
	cursor: pointer;
	border: none;
	font-size: inherit;
}
button {
	padding: 0;
}
textarea {
	appearance: none;
	resize: none;
	outline: none;
	background: transparent;
	color: var(--color);
	font-family: var(--font);
	font-size: 16px;
}

*:focus {
	outline: none;
}


