@use '../Base/config' as config;
// ===================================================================
// CSS 変数
// ===================================================================
:root {
	//--sans : "Mona Sans", "FOT-セザンヌ Pro M", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
	//--sans600 : "Mona Sans", "FOT-セザンヌ Pro DB", "FOT-セザンヌ Pro M", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;

	--sans :"FOT-セザンヌ Pro M", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
	--sans600 :"FOT-セザンヌ Pro DB", "FOT-セザンヌ Pro M", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;

	--serif: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
	--font : var(--sans);
	--Mona: "Mona Sans", var(--sans);

	--color: #1B1B1B;
	--color-inverse: #fff;
	--color-assort-light: #D8EBF9;
	--color-assort: #008CD6;
	--color-accent: #084CC2;
	--header-height: #{64/16+rem};
	@include config.pc {
		--header-height: #{90/16+rem};
	}

	// 余白
	--gap: #{15/16+rem};
	--padding-section: #{42/16+rem};
	--padding-section-md: #{60/16+rem};
	--padding-section-lg: #{72/16+rem};
	--padding-page: #{72/16+rem};
	@include config.pc {
		--gap: #{30/16+rem};
		--padding-section: #{66/16+rem};
		--padding-section-md: #{86/16+rem};
		--padding-section-lg: #{120/16+rem};
		--padding-page: #{179/16+rem};
	}
	--col1: #{66/16+rem};
	--col2: #{66*2/16+rem};
	--col3: #{66*3/16+rem};
	--col4: #{66*4/16+rem};
	--col5: #{66*5/16+rem};
	--col6: #{66*6/16+rem};
	--col7: #{66*7/16+rem};
	--col8: #{66*8/16+rem};
	--col9: #{66*9/16+rem};
	--col11: #{66*11/16+rem};
	--col12: #{66*12/16+rem};
	--col13: #{66*13/16+rem};
	--col14: #{66*14/16+rem};
	--col15: #{66*15/16+rem};
	--col16: #{66*16/16+rem};

	--gap1: #{20/16+rem};
	--gap2: #{20*2/16+rem};
	--gap3: #{20*3/16+rem};
	--gap4: #{20*4/16+rem};
	--gap5: #{20*5/16+rem};
	--gap6: #{20*6/16+rem};
	--gap7: #{20*7/16+rem};
	--gap8: #{20*8/16+rem};
	--gap9: #{20*9/16+rem};
	--gap11: #{20*11/16+rem};
	--gap12: #{20*12/16+rem};
	--gap13: #{20*13/16+rem};
	--gap14: #{20*14/16+rem};
	--gap15: #{20*15/16+rem};
	--gap16: #{20*16/16+rem};


	// ボーダー
	--border: 1px solid var(--color);
	--border-md: 1.5px solid var(--color);
	--border-assort: 1px solid var(--color-assort);
	--border-accent: 1px solid var(--color-accent);
	--border-gray: 1px solid #444648;
	--border-gray-light: 1px solid rgba(186, 189, 191, 0.40);

}
:root {
	// sine
	--easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
	--easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
	--easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

	// quad poser1
	--easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
	--easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

	// cubic power2
	--easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
	--easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

	// quart power3
	--easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
	--easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
	--easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

	// quint power4
	--easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	--easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
	--easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

	// expo
	--easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	--easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
	--easeInOutExpo: cubic-bezier(1, 0, 0, 1);

	// back
	--easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	--easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

	--easeDuration: .4s;
	//--easeTheme: cubic-bezier(0.22, 0.61, 0.36, 1);
	--easeTheme: cubic-bezier(0.4, 0.52, 0.36, 1);
}

.is-nav-open,
.is-section-dark {
	--color: #fff;
	color: var(--color);
	--border-gray: 1px solid rgba(255, 255, 255, 0.20);
}
