extends ../_default
block vars
    - var path = "../"
    - var title = "クリエイティブアイランド中之島について"
    - var pageClass = ""

block content

    .p-aboutus
        .l-container
            .cm-section-header
                .cm-section-header__bc
                    ul.c-link-bc
                        li
                            a(href= path + "") Top
                        li
                            span クリエイティブアイランド中之島について
                .cm-section-header__title
                    .c-heading-page.c-heading-page--sm
                        h1.c-heading-page__title クリエイティブアイランド<br>中之島について

            section.p-aboutus-about
                .p-aboutus-about__wrap
                    .p-aboutus-about__head
                        .c-heading-about
                            h2.c-heading-about__title
                                | 創造的
                                span.u-char-circle な
                                | 実験島
                            p.c-heading-about__en About Creative Island
                    .p-aboutus-about__body
                        p.c-paragraph-lg
                            | 大阪市北区に位置する中之島は、堂島川と土佐堀川に挟まれた東西約3kmの中州です。重層的な歴史文化を有しながら都市の機能が集積する中之島は、パリのシテ島、ベルリンのムゼウムス・インゼルなど、世界に類する都心の中州（島）の可能性に満ちています。
                            br
                            | このプロジェクトでは、“中之島”エリアを、持続可能な芸術文化環境をそなえた 「創造的な研究所（クリエイティブ・ラボ）」 として見立て、様々な思考実験を繰り広げます。
                            br
                            | アーティストによるフィールドリサーチや、中之島を拠点とする十数の文化施設による連携プログラムなどを通じて、中之島の文化ネットワークの構築と創造的活用法による都市のリブランディングをめざします。
                .p-aboutus-about-group
                    h3.p-aboutus-about-group__title 構成団体
                    figure.p-aboutus-about-group__list
                        img(src=img+"p-aboutus-group.webp" alt="")

            // 事業の背景と目的
            section.p-aboutus-purpose
                .p-aboutus-purpose__head
                    h2.c-heading-txt 事業の背景と目的
                .p-aboutus-purpose__items
                    .p-aboutus-purpose-item
                        h3.p-aboutus-purpose-item__title
                            span.u-char-circle.u-char-circle--lg
                                span 世
                            span 界の都市の島の創造性
                        p.c-paragraph
                            | パリのシテ島、ベルリンのムゼウムス・インゼル、ニューヨークのルーズベルト島、ロンドンのサウスバンク地区など、世界の都市には、交通や物流など経済の要としての川にはさまれた島や中州があります。陸路や空路が中心になった現代においても、都心の島は、観光や新たな環境インフラなどに活用されるとともに、美術館や劇場、大学などの芸術・学術拠点を軸にした創造都市の核を担っています。
                    .p-aboutus-purpose-item
                        h3.p-aboutus-purpose-item__title
                            span.u-char-circle.u-char-circle--lg
                                span 大
                            span 阪・中之島の多様性と可能性
                        p.c-paragraph
                            | 中之島は、近世の開拓以降、江戸時代には天下の台所、近代には大大阪時代の象徴として栄えました。
                            br
                            | 現代では、行政や金融、報道機関のほか、様々な企業が集積する大阪の経済の中心地であると同時に、美術館やホール、科学館、会議場、大学サテライトなど十数もの創造拠点や近代建築などの文化資産が集積しています。
                            br
                            | さらに、2022年2月には大阪中之島美術館の開館を迎え、エリアとしての関心が高まる中之島は、世界にも類を見ない多様性と国際性を活かしたMICE誘致のポテンシャルが極めて高い地域です。
                    .p-aboutus-purpose-item
                        h3.p-aboutus-purpose-item__title
                            span.u-char-circle.u-char-circle--lg
                                span ク
                            span リエイティブアイランド中之島による<br class="pc">都市のリブランディング
                        p.c-paragraph
                            | 大阪市北区に位置する「中之島」は、堂島川と土佐堀川に挟まれた東西約3kmの中州です。近世の開拓以降、江戸時代には天下の台所、近代には大大阪時代の象徴として栄えました。
                            br
                            | 現代では、行政や金融、報道機関のほか、様々な企業が集積する大阪の経済の中心地であると同時に、美術館やホール、科学館、会議場、大学サテライトなど十数もの創造拠点や近代建築などの文化資産が集積しています。
                            br
                            | さらに、2022年2月には大阪中之島美術館の開館を迎え、エリアとしての関心が高まる中之島は、世界にも類を見ない多様性と国際性を活かしたMICE誘致のポテンシャルが極めて高い地域です。
                .p-aboutus-purpose__gallery
                    figure
                        img(src=img + "p-aboutus-purpose.webp" alt="")
                        figcaption
                            | 中之島(写真提供：朝日新聞)



            // 事業コンセプト
            section.p-aboutus-concept
                .p-aboutus-concept__head
                    h2.c-heading-txt 事業コンセプト
                .p-aboutus-concept__items
                    .p-aboutus-concept-item
                        .p-aboutus-concept-item__head
                            p.p-aboutus-concept-item__en Collaboration
                            h3.p-aboutus-concept-item__ja コラボレーション
                            p.p-aboutus-concept-item__headTxt
                                <svg class="sp-tab" width="25" height="83" viewBox="0 0 25 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <title>3つのキーワード</title>
                                <path d="M7.48126 5.11552L7.69717 3.88634L8.95787 4.10778L8.78625 5.08482C8.49284 6.75525 9.10362 7.90221 10.1279 8.08213C11.3414 8.29527 12.122 7.4577 12.3518 6.14973C12.5843 4.82599 11.9635 3.92095 11.117 3.56108L11.3523 2.22158C12.9201 2.82187 13.9038 4.34298 13.5467 6.37586C13.1647 8.55056 11.8227 9.80937 10.0419 9.49659C8.73396 9.26684 7.97604 8.40268 7.8148 7.28595C7.25497 8.43848 6.01729 9.19577 4.55173 8.93835C2.53461 8.58404 1.3859 6.9852 1.84539 4.36924C2.24399 2.09999 3.70739 0.797518 5.82991 0.829198L5.59739 2.15293C4.20254 2.23282 3.31262 3.2299 3.07734 4.56939C2.81438 6.06647 3.40301 7.33951 4.83706 7.5914C6.05048 7.80454 7.16571 6.91202 7.48126 5.11552ZM1.09412 14.1491C1.59678 14.0654 2.06298 13.8798 2.51629 13.5718C2.47378 13.8444 2.44305 14.1069 2.42413 14.3592C2.20768 17.244 3.26039 19.3858 4.69736 19.4936C6.22207 19.608 6.41271 17.8022 6.45221 17.2757C6.59706 15.3451 5.90195 12.7007 5.63623 12.2726C5.57783 12.169 5.51777 12.0872 5.52271 12.0214C5.52518 11.9885 5.55041 11.9463 5.62966 11.9191C5.92474 11.8089 6.67339 11.5341 6.98876 11.4475C7.01152 11.4382 7.03346 11.4398 7.04443 11.4406C7.15412 11.4489 7.04991 11.6617 7.11215 12.0083C7.42938 13.8081 7.75292 15.8179 7.62947 17.4633C7.50438 19.1306 6.91119 20.4208 5.37714 20.7249C5.08618 20.7803 4.80866 20.8036 4.5454 20.7839C2.49416 20.63 0.993914 18.2781 1.09412 14.1491ZM1.47818 27.1485C1.47197 27.2917 1.46576 27.435 1.47055 27.5779C1.53829 29.6008 2.99183 30.6087 4.41004 30.5612C5.60836 30.5211 6.78129 29.7224 7.03648 28.14C5.22428 27.9255 0.377642 26.8221 0.316901 25.0081C0.281561 23.9527 1.83338 22.9652 3.39451 22.9129C5.59328 22.8393 8.05394 24.3418 8.15517 27.3651C8.23947 29.8827 6.68375 31.7398 4.36405 31.8175C2.46212 31.8812 0.48229 30.6047 0.161228 27.919C0.498724 27.8086 1.13558 27.4351 1.47818 27.1485ZM7.05058 26.9178C6.7626 24.8913 4.97303 24.0378 3.47787 24.0878C2.5434 24.1191 1.6995 24.5546 1.71312 24.9614C1.7179 25.1043 1.833 25.2545 2.06865 25.3897C3.28139 26.1085 5.20578 26.7155 7.05058 26.9178ZM1.01925 40.7476L0.661744 39.3645C1.25655 39.2491 2.7426 38.8329 4.36279 38.3428C4.00529 36.9596 3.51772 35.117 3.28243 34.5388L4.57084 34.1388L4.57986 34.2042C4.66109 34.7926 5.01148 36.3655 5.40659 38.021C5.75716 37.906 6.11862 37.7894 6.45828 37.6759C6.14965 36.4859 5.84216 35.3847 5.68091 34.9405L6.91333 34.5372C6.97952 35.0167 7.23253 36.1255 7.52087 37.3294C8.35764 37.0362 9.01368 36.8012 9.27255 36.6656C9.35521 36.6208 9.41157 36.5464 9.46605 36.5389C9.48785 36.5359 9.50175 36.5562 9.52017 36.6092C9.59799 36.9316 9.72244 37.5917 9.82018 37.978L9.8277 38.0325C9.84124 38.1306 9.80518 38.1911 9.7398 38.2001C9.69621 38.2061 9.66202 38.1997 9.60452 38.1854C9.45384 38.1396 9.37756 38.1502 9.19232 38.1757C8.98679 38.2152 8.49306 38.3389 7.82011 38.5317C8.14867 39.7856 8.46519 40.9522 8.61554 41.3979L7.388 41.7561L7.37747 41.6798C7.30827 41.1786 7.05376 40.0589 6.75301 38.8456C6.42274 38.9467 6.07217 39.0617 5.69831 39.1689C6.07989 40.7263 6.46821 42.1718 6.63247 42.6377L5.40643 43.0068C5.34475 42.5601 5.06767 41.2769 4.63272 39.4937C3.1121 39.9812 1.5945 40.4905 1.01925 40.7476ZM9.08119 53.2115L7.72645 53.5527C7.67784 53.2136 7.4491 52.2277 7.16023 51.0414C6.62672 48.8504 5.88651 45.9965 5.67144 45.3923L7.02878 45.0617C7.0826 45.4222 7.33448 46.5497 7.65198 47.8536C8.17248 49.9911 8.86064 52.6312 9.08119 53.2115ZM8.78384 57.2613L8.32296 56.0007C8.73545 55.8808 9.21029 55.7393 9.67791 55.577C10.582 55.2631 11.4924 54.9005 12.1011 54.6077C12.2498 55.1033 12.427 55.6473 12.6218 56.2085C13.1593 57.7568 13.8097 59.429 14.2756 60.5364C14.3473 60.7095 14.4797 60.7218 14.5194 60.8361C14.5266 60.8569 14.5554 60.94 14.2697 62.0289C14.2331 62.1581 14.1955 62.2177 14.1436 62.2357C14.0189 62.279 13.8176 62.0345 13.3414 62.0717C10.4223 62.3166 8.2085 62.2118 5.69567 59.8704C5.91638 59.4328 6.12901 58.9048 6.22415 58.441C8.07508 60.9889 11.2533 61.1548 13.0924 60.7842C12.7574 59.8525 11.9158 57.6296 11.3809 56.2899C11.0863 56.3805 10.7917 56.4711 10.4592 56.5866C10.002 56.7453 9.46883 56.9537 8.78384 57.2613ZM16.7494 72.5215L15.4889 73.124C15.3742 72.8012 14.9549 71.88 14.4371 70.7743C13.4807 68.7321 12.1906 66.081 11.8603 65.5312L13.1254 64.9388C13.2495 65.2815 13.7194 66.3368 14.2886 67.5521C15.2216 69.5445 16.4184 71.9963 16.7494 72.5215ZM23.3384 79.0653L22.646 78.7706C22.7666 78.3763 22.9151 77.8282 22.9812 77.4264L23.6298 77.7329C23.5775 78.1144 23.4537 78.6614 23.3384 79.0653ZM22.3115 78.667L21.5892 78.3637C21.7537 77.9576 21.8936 77.4394 21.9864 76.9725L22.6553 77.2929C22.5721 77.7545 22.4311 78.2481 22.3115 78.667ZM14.4513 79.3105L13.6081 78.0424C14.638 77.6085 16.8868 76.4467 18.7136 75.4314C19.9635 74.7367 21.0147 74.1147 21.3523 73.839C21.4143 73.792 21.4549 73.7065 21.5029 73.6798C21.5318 73.6637 21.5617 73.6723 21.5991 73.7396L21.6098 73.7588C21.7391 74.0141 22.0384 74.6658 22.2008 75.0034C22.25 75.1145 22.2522 75.1637 22.2041 75.1904C22.1752 75.2064 22.1165 75.2139 22.0428 75.2171C21.7383 75.2353 21.4947 75.2952 19.0803 76.6119L19.8549 76.7603C19.9373 77.6332 19.9964 79.098 19.9933 80.0435L18.5627 79.9829C18.7324 78.9069 18.7578 77.7979 18.6423 76.8428L18.0462 77.1741C16.5847 77.9863 15.0816 78.8595 14.4513 79.3105Z" fill="#1B1B1B"/>
                                </svg>
                                <svg class="pc" width="90" height="95" viewBox="0 0 90 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.37006 8.25724L8.64167 6.7035L10.2352 5.95644L10.8142 7.19146C11.8041 9.30295 13.3977 10.1109 14.6925 9.50391C16.2263 8.78486 16.4429 7.22548 15.6678 5.57214C14.8834 3.89888 13.4697 3.37106 12.2328 3.63505L11.439 1.94187C13.6775 1.37842 15.9864 2.3127 17.1911 4.88235C18.4797 7.63127 17.9644 10.1082 15.7135 11.1635C14.0601 11.9385 12.5244 11.5651 11.4605 10.4359C11.7413 12.1752 10.9471 14.0054 9.09454 14.8738C6.54482 16.0691 3.98879 15.1778 2.43863 11.8711C1.09391 9.0027 1.71133 6.38069 4.12471 4.73906L4.90913 6.41231C3.40272 7.60447 3.18927 9.42965 3.98303 11.1228C4.87017 13.0152 6.53851 13.9825 8.35121 13.1327C9.88503 12.4137 10.4346 10.5281 9.37006 8.25724ZM9.44804 23.7336C9.98152 23.219 10.3872 22.6122 10.6766 21.8695C10.8504 22.2312 11.0299 22.5711 11.2151 22.889C13.3338 26.5248 16.3608 28.2238 18.1718 27.1685C20.0933 26.0488 18.8333 23.7275 18.4466 23.064C17.0288 20.6309 14.016 18.0347 13.3447 17.7407C13.1893 17.6647 13.0499 17.6162 13.0016 17.5333C12.9774 17.4918 12.9728 17.4204 13.0455 17.3225C13.3082 16.9472 13.9789 16.0008 14.2855 15.637C14.3051 15.6071 14.3327 15.591 14.3465 15.5829C14.4848 15.5023 14.5353 15.8433 14.8956 16.2074C16.7593 18.1028 18.8038 20.2447 20.0121 22.3184C21.2366 24.4196 21.5892 26.4549 20.0014 28.0838C19.6984 28.39 19.385 28.6467 19.0532 28.84C16.4681 30.3464 12.7316 28.7646 9.44804 23.7336ZM20.5918 39.0332C20.7014 39.2107 20.8109 39.3883 20.9333 39.5564C22.6667 41.936 25.2394 41.9624 26.9077 40.7471C28.3174 39.7203 29.0771 37.8011 28.0921 35.688C25.7356 36.9096 19.0006 39.539 17.4463 37.4051C16.5419 36.1635 17.6035 33.7077 19.44 32.37C22.0265 30.486 26.2153 30.2852 28.8059 33.8418C30.9632 36.8034 30.607 40.3092 27.8781 42.2968C25.6408 43.9266 22.2153 44.0067 19.6358 41.036C19.9519 40.6276 20.4135 39.6579 20.5918 39.0332ZM27.1111 34.2053C25.1097 32.0012 22.2585 32.435 20.4997 33.7162C19.4004 34.5169 18.7402 35.7302 19.0887 36.2087C19.2112 36.3768 19.4724 36.4637 19.8664 36.434C21.9132 36.309 24.7252 35.4681 27.1111 34.2053ZM31.1259 55.7938L29.5693 54.4173C30.1924 53.7941 31.6452 52.083 33.1996 50.1735C31.6429 48.797 29.5555 46.9724 28.8013 46.4668L30.029 44.9361L30.0931 45.0076C30.6699 45.6508 32.3724 47.2618 34.1961 48.9361C34.5251 48.5121 34.866 48.0775 35.1831 47.6642C33.8426 46.4808 32.5756 45.4034 32.0198 44.9992L33.1773 43.51C33.6473 44.0341 34.8547 45.1649 36.1821 46.3816C36.9522 45.3472 37.5519 44.53 37.7536 44.1558C37.8168 44.0346 37.8242 43.899 37.8838 43.8456C37.9076 43.8243 37.9409 43.8374 38.0062 43.8863C38.3624 44.2116 39.0497 44.9062 39.4819 45.2923L39.5353 45.3519C39.6314 45.4591 39.6372 45.5614 39.5657 45.6255C39.5181 45.6682 39.4717 45.6883 39.3907 45.7179C39.1718 45.7853 39.0884 45.8601 38.8859 46.0417C38.6702 46.2565 38.1757 46.8075 37.5213 47.5876C38.9379 48.8318 40.2689 49.9807 40.8129 50.3956L39.6245 51.8265L39.5498 51.7431C39.0584 51.1951 37.8403 50.0524 36.4903 48.8345C36.1745 49.2252 35.8455 49.6491 35.4819 50.0825C37.2095 51.6496 38.854 53.0762 39.4312 53.5042L38.2535 54.947C37.8156 54.4586 36.4373 53.1372 34.4616 51.3413C33.0252 53.1666 31.6101 55.0157 31.1259 55.7938ZM50.9519 64.3904L49.5836 65.8927C49.2521 65.5206 48.1826 64.5091 46.8791 63.3028C44.4717 61.075 41.281 58.2096 40.5347 57.6498L41.9148 56.1584C42.2698 56.5522 43.4811 57.7168 44.9138 59.0426C47.2624 61.216 50.2182 63.8641 50.9519 64.3904ZM53.842 69.591L52.277 68.4238C52.6836 67.9493 53.1487 67.3989 53.5886 66.8288C54.4389 65.7268 55.2582 64.5603 55.7657 63.7191C56.3416 64.2039 56.9905 64.7248 57.6745 65.2526C59.562 66.709 61.6854 68.2262 63.1346 69.2029C63.3597 69.3564 63.5306 69.2659 63.6699 69.3734C63.6952 69.393 63.7966 69.4712 64.3162 71.024C64.3744 71.2105 64.3762 71.3129 64.3273 71.3762C64.2101 71.5282 63.7703 71.391 63.2204 71.8155C59.8626 74.4386 57.0848 76.0743 52.1615 75.2261C52.0816 74.5177 51.9199 73.7058 51.6662 73.0655C55.9484 74.6923 59.9486 72.3628 61.8918 70.4468C60.742 69.5798 57.9472 67.5446 56.2291 66.3401C55.9428 66.685 55.6564 67.03 55.3436 67.4353C54.9136 67.9927 54.4306 68.6709 53.842 69.591ZM75.6825 81.9315L74.6161 83.6612C74.2215 83.357 72.9831 82.5611 71.4787 81.6172C68.7003 79.874 65.034 77.6492 64.1969 77.2374L65.2768 75.5161C65.6986 75.8374 67.1047 76.7574 68.7582 77.7948C71.4688 79.4955 74.864 81.5501 75.6825 81.9315ZM88.9977 84.8426L87.919 85.028C87.7557 84.4509 87.5051 83.6638 87.2694 83.1206L88.3039 82.9841C88.5406 83.4916 88.8204 84.2579 88.9977 84.8426ZM87.4285 85.1649L86.3064 85.3635C86.1875 84.7375 85.95 83.9937 85.6955 83.3497L86.7658 83.2142C87.0278 83.8441 87.2446 84.5586 87.4285 85.1649ZM78.3267 92.1469L76.2965 91.2613C77.2134 89.9191 79.0469 86.7264 80.4799 84.0453C81.4603 82.2109 82.2552 80.6219 82.4505 80.0188C82.4892 79.9125 82.4714 79.776 82.5092 79.7055C82.5318 79.6631 82.5751 79.65 82.6739 79.7028L82.7021 79.7179C83.0614 79.9281 83.9409 80.4889 84.4056 80.7735C84.5533 80.8706 84.5946 80.929 84.5569 80.9995C84.5343 81.0419 84.4684 81.0973 84.3808 81.1594C84.0229 81.4216 83.7723 81.6868 81.8586 85.1995L82.9225 84.7703C83.7113 85.7724 84.9379 87.5166 85.6795 88.6749L83.8828 89.7284C83.2422 88.2793 82.3992 86.9035 81.5051 85.8269L81.0375 86.7018C79.8911 88.8467 78.7418 91.0988 78.3267 92.1469Z" fill="#1B1B1B"/>
                                </svg>

                        h4.p-aboutus-concept-item__lead
                            | 中之島の人・文化資産 ×
                            br
                            | エクスチェンジによる新価値創造
                        p.p-aboutus-concept-item__desc.c-paragraph
                            | 14の文化施設や機関と連携して各機関が有する固有の資源（人・コレクション・歴史・取組み）を活かし、その資源を施設間で交換することで、新たな価値を掘り起こします。
                    .p-aboutus-concept-item
                        .p-aboutus-concept-item__head
                            p.p-aboutus-concept-item__en Relay
                            h3.p-aboutus-concept-item__ja リレー
                        h4.p-aboutus-concept-item__lead
                            | 中之島の都市風景 ×
                            br
                            | アーティストによる創造的実験
                        p.p-aboutus-concept-item__desc.c-paragraph
                            | 14の文化施設や機関と連携して各機関が有する固有の資源（人・コレクション・歴史・取組み）を活かし、その資源を施設間で交換することで、新たな価値を掘り起こします。
                    .p-aboutus-concept-item
                        .p-aboutus-concept-item__head
                            p.p-aboutus-concept-item__en Exchange
                            h3.p-aboutus-concept-item__ja エクスチェンジ
                        h4.p-aboutus-concept-item__lead
                            | 中之島の場・人・出来事 ×
                            br
                            | リアルとバーチャルによる芸術体験実験
                        p.p-aboutus-concept-item__desc.c-paragraph
                            | オンラインとオフラインを組み合わせたプラットフォームメディアを構築し、ウィズコロナ時代の新たな芸術体験の可能性を探求・実践します。


            // 沿革
            section.p-aboutus-history
                .p-aboutus-history__head
                    h2.c-heading-txt 沿革
                ul.p-aboutus-history__list
                    li
                        p._date 2018.07
                        p._subject アートエリア B1（大阪大学/京阪ホールディングス/ダンスボックス）が、文化庁戦略的芸術文化創造推進事業「クリエイティブ・アイランド・ラボ 中之島」として、中之島を拠点とするツアーやトークなどを実施
                    li
                        p._date 2019.03
                        p._subject 連携⽂化施設の代表者らによるラウンドテーブル実施、公開の場にて連携事業を軸とした組織体制を検討
                    li
                        p._date 2019.05-07
                        p._subject 連携⽂化施設の代表者らによりクリエイティブアイランド中之島実⾏委員会の設⽴に向け協議
                    li
                        p._date 2019.09
                        p._subject 12の機関が集まり、第1回委員会にて設⽴
                    li
                        p._date 2020.04
                        p._subject 令和2年度⽂化庁戦略的芸術⽂化創造推進事業に採択
                    li
                        p._date 2020.10
                        p._subject ⼤阪市中央公会堂、こども本の森中之島が新規参画
                    li
                        p._date 2021.02
                        p._subject スタートアップ事業(webサイト設置・コア期間プログラムの実施)始動
                    li
                        p._date 2021.04
                        p._subject 令和3年度⽂化庁戦略的芸術⽂化創造推進事業に採択
                    li
                        p._date 2022.02
                        p._subject シンボルシンポジウム含む13のプログラムを実施
                    li
                        p._date 2022.04
                        p._subject 令和4年度⽂化庁戦略的芸術⽂化創造推進事業に採択
                    li
                        p._date 2024.03
                        p._subject 令和6年度⽇本博2.0を契機とする⽂化資源コンテンツ創成事業に採択

            .p-aboutus__pager
                .cm-nav-page
                    //-.cm-nav-page__ctrl
                        a(href= path + "single-news/").cm-nav-page-link
                            i.cm-nav-page-link__arrow
                                svg(width=26 height=26).js-clone
                                    use(href="#ico-arrow")
                            span.cm-nav-page-link__txt 前の記事
                    .cm-nav-page__index
                    .cm-nav-page__ctrl
                        a(href= path + "single-news/").cm-nav-page-link
                            span.cm-nav-page-link__txt このサイトについて
                            i.cm-nav-page-link__arrow
                                svg(width=26 height=26).js-clone
                                    use(href="#ico-arrow")













