
<div class="c-card-event c-card-event--teaser" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">予</p>
    <figure class="c-card-event__pic"><img src="undefined500x620_2.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event c-card-event--teaser" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">予</p>
    <figure class="c-card-event__pic"><img src="undefined500x260.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event c-card-event--teaser" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">予</p>
    <figure class="c-card-event__pic"><img src="undefined500x620_2.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">開</p>
    <figure class="c-card-event__pic"><img src="undefined500x700.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event c-card-event--teaser" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">予</p>
    <figure class="c-card-event__pic"><img src="undefined500x700_2.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event c-card-event--teaser" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">予</p>
    <figure class="c-card-event__pic"><img src="undefined500x620_2.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event c-card-event--teaser" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">予</p>
    <figure class="c-card-event__pic"><img src="undefined500x260.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event c-card-event--teaser" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">予</p>
    <figure class="c-card-event__pic"><img src="undefined500x620_2.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">開</p>
    <figure class="c-card-event__pic"><img src="undefined500x700.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event c-card-event--teaser" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">予</p>
    <figure class="c-card-event__pic"><img src="undefined500x700_2.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event c-card-event--teaser" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">予</p>
    <figure class="c-card-event__pic"><img src="undefined500x620_2.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event c-card-event--teaser" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">予</p>
    <figure class="c-card-event__pic"><img src="undefined500x260.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event c-card-event--teaser" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">予</p>
    <figure class="c-card-event__pic"><img src="undefined500x620_2.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">開</p>
    <figure class="c-card-event__pic"><img src="undefined500x700.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>
<div class="c-card-event c-card-event--teaser" data-animated="false"><a class="c-card-event__link" href="undefinedsingle-news/">
    <div class="c-card-event__meta">
      <p class="c-card-event__type">Events</p>
      <ul class="c-card-event__category">
        <li>現代アート</li>
      </ul>
    </div>
    <p class="c-card-event__status">予</p>
    <figure class="c-card-event__pic"><img src="undefined500x700_2.webp" alt=""/></figure>
    <h3 class="c-card-event__title">映像展示「ビルダーズ：工事記録にみる都市再考」</h3>
    <ul class="c-card-event__place">
      <li>graf studio</li>
      <li>アートエリアB1</li>
    </ul></a></div>