.cm-nav-main
    .cm-nav-main-block
        h3.cm-nav-main-block__head
            span About Nakanoshima
        .cm-nav-main-block__list
            ul
                li
                    button(data-micromodal-trigger="modal-about") 中之島について
                li
                    a(href= path + "contact/") お問い合わせ
    .cm-nav-main-block
        h3.cm-nav-main-block__head
            a(href= path + "creative/") Creative Contents
        .cm-nav-main-block__list
            ul
                li
                    a(href= path + "creative/creative_cat/artist-research/") アーティストリサーチ
                li
                    a(href= path + "creative/creative_cat/exchange-program/") エクスチェンジプログラム
                li
                    a(href= path + "creative/creative_cat/meeting-point/") ミーティングポイント
                li
                    a(href= path + "creative/creative_cat/promotion/") 中之島プロモーション
    .cm-nav-main-block
        h3.cm-nav-main-block__head
            a(href= path + "posts/") All News
        .cm-nav-main-block__list
            ul
                li
                    a(href= path + "new/") News
                li
                    a(href= path + "events/") Events
                li
                    a(href= path + "exhibitions/") Exhibitions
    .cm-nav-main-block
        h3.cm-nav-main-block__head
            span About Us
        .cm-nav-main-block__list
            ul
                li
                    a(href= path + "aboutus/") クリエイティブアイランド中之島について