@use '../Base/config' as config;
/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/
.bold,
.strong {
	font-weight: bold;
}

.u-hide {
	display: none;
}
.u-breakLine {
	display: inline-block;
}
.u-center {
	text-align: center;
}

.u-only-sp {
	display: block !important;
	@include config.pc-tab {
		display: none !important;
	}
}

.u-only-pc {
	display: none !important;
	@include config.pc-tab {
		display: block !important;
	}
}

.u-color-accent {
	color: var(--color-accent);
}

.u-template {
	display: flex;
	flex-direction: column;
	gap: 80/16+rem;
	padding-bottom: 100/16+rem;
	> div {
		display: flex;
		flex-direction: column;
		gap: 24/16+rem;
	}
}
.u-gap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--gap);
}
.u-section-dark {
	// background: var(--accent-color-dark);
}
.is-disabled {
	opacity: 0.7;
	pointer-events: none;
}

.u-budoux {
	word-break: keep-all;
	overflow-wrap: anywhere;
}

@for $i from 1 through 30 {
	[data-delay="#{$i * 0.1}"] {
		transition-delay: #{$i * 0.1}s;
	}
}

.__loop {
	animation: loopLeft linear 30s infinite;
	will-change: transform;
	display: flex;
	img {
		width: auto;
		max-width: none;
		height: 300/16+rem;
	}
	@include config.pc {
		animation: loopLeft linear 50s infinite;
		img {
			height: 526/16+rem;
		}
	}
}
@keyframes loopLeft {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(-100%, 0, 0);
	}
}
@keyframes loopRight {
	from {
		transform: translate3d(-100%, 0, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

.u-char-circle {
	position: relative;
	color: #fff;
	span {
		position: relative;
	}
	&:before {
		content: '';
		display: block;
		width: 1.1em;
		height: 1.1em;
		position: absolute;
		left: -0.05em;
		top: calc(50% - 0.5em);
		pointer-events: none;
		border-radius: 100%;
		background: var(--color);
		z-index: -1;
	}
	&:has(span):before {
		z-index: auto;
	}
}
.u-char-circle--lg {
	&:before {
		width: 1.5em;
		height: 1.5em;
		left: -0.25em;
		top: calc(50% - 0.75em);
	}
	@include config.pc {
		&:before {
			width: 2em;
			height: 2em;
			left: -0.5em;
			top: calc(50% - 0.9em);
		}
	}
}

/* japanese site
-------------------------------------------------------------- */
.jp-hidden {
	display:none;
}
.todo {
	font-size: 20px;
	font-weight: bold;
	color: #f00;
}