@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-link' as link;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.c-card-recommend {
	padding-bottom: 10/16+rem;
	border-bottom: var(--border-gray);
	& + & {
		margin-top: 10/16+rem;
	}
	@include config.pc {
		padding-bottom: 20/16+rem;
		& + & {
			margin-top: 20/16+rem;
		}
	}
}
.c-card-recommend__link {
	display: flex;
	align-items: center;
	gap: 18/16+rem;
	@include config.pc {
		gap: 25/16+rem;
	}
}
.c-card-recommend__pic {
	width: 105/16+rem;
	@include config.pc {
		width: 146/16+rem;
	}
}
.c-card-recommend__body {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10/16+rem;
	@include config.pc {
		gap: 20/16+rem;
	}
}
.c-card-recommend__title {
	font-size: 14/16+rem;
	font-weight: 600;
	line-height: 1.35;
	letter-spacing: 0.02em;
	@include config.pc {
		font-size: 20/16+rem;
	}
}
.c-card-recommend__tag {
	font-size: 10/16+rem;
	@include config.pc {
		font-size: 13/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-card-event {
	position: relative;
}
.c-card-event__link {
	display: flex;
	flex-direction: column;
	gap: 10/16+rem;
	padding: 13/16+rem 15/16+rem;
	align-items: center;
	background: #fff;
	height: 100%;
	.cm-section-masonry & {
		height: auto;
	}
	@include config.pc {
		padding: 25/16+rem 30/16+rem;
		gap: 15/16+rem;
		border-radius: 2/16+rem;
	}
}
.c-card-event__meta {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.c-card-event__type {
	color: #008CD6;
	font-size: 12/16+rem;
	@include config.pc {
		font-size: 18/16+rem;
	}
}
.c-card-event__category {
	align-self: stretch;
	display: flex;
	li {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0 5/16+rem;
		border-radius: 45/16+rem;
		border: var(--border-gray);
		background: #FFF;

		font-size: 9/16+rem;
		letter-spacing: 0.02em;
	}
	@include config.pc {
		li {
			padding: 2/16+rem 10/16+rem;
			border-radius: 95/16+rem;
			font-size: 14/16+rem;
		}
	}
}
.c-card-event__status {
	position: absolute;
	left: -4/16+rem;
	top: 17/16+rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 55/16+rem;
	height: 55/16+rem;
	color: #ED668A;
	font-size: 13/16+rem;
	font-weight: 600;
	background: url(../img/card-event-open.webp) center center /contain no-repeat;
	.c-card-event--teaser & {
		background-image: url(../img/card-event-teaser.webp);
		color: var(--blue, #084CC2);
	}
	@include config.pc {
		left: -6/16+rem;
		top: 37/16+rem;
		width: 85/16+rem;
		height: 85/16+rem;
		font-size: 20/16+rem;
	}
}
.c-card-event__pic {
	text-align: center;
	width: 69%;
	img {
		width: 100%;
	}
	@include config.pc {}
}
.c-card-event__title {
	align-self: stretch;
	font-size: 13/16+rem;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.02em;
	@include config.pc {
		font-size: 22/16+rem;
		line-height: 1.35;
	}
}
.c-card-event__place {
	margin-top: -7/16+rem;
	align-self: stretch;
	//display: flex;
	//flex-wrap: wrap;
	//gap: 0 0.5em;
	overflow: hidden;
	color: var(--deepgray, #2C2E2F);
	font-size: 11/16+rem;
	line-height: 1.75;
	li {
		position: relative;
		display: inline;
		&:before {
			content: 'Ôºè';
			display: inline;
			position: absolute;
			left: -1.25em;
			pointer-events: none;
		}
	}
	li:not(:last-child) {
		margin-right: 1.5em;
	}
	@include config.pc {
		font-size: 11/16+rem;
	}
}
// square
.c-card-event--square {
	.c-card-event__link {
		padding-top: 35/16+rem;
		@include config.pc {
			padding-top: 65/16+rem;
		}
	}
	.c-card-event__pic {
		img {
			aspect-ratio: 1 / 1;
			object-fit: cover;
		}
		@include config.pc {}
	}
	.c-card-event__category {
		margin-top: -22.5/16+rem;
		@include config.pc {
			margin-top: -27.5/16+rem;
		}
	}
	.c-card-event__status {
		img {
			aspect-ratio: 1 / 1;
			object-fit: cover;
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/