@use '../Base/config' as config;
//@use '../Component/c-btn' as btn;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.c-link-gradient {
	background-image: linear-gradient(90deg, var(--color-accent) 50%,  var(--color) 50%,  var(--color) 100%);
	background-size: 200%;
	background-position: 100% 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	button:hover &,
	a:hover &,
	&:hover {
		background-position: 0 0;
	}
}
//.c-link-gradient {
//	background-image: linear-gradient(90deg, var(--color-accent) 50%,  #fff 50%,  #fff 100%);
//	background-size: 200%;
//	background-position: 100% 0;
//	-webkit-background-clip: text;
//	-webkit-text-fill-color: transparent;
//	&:hover {
//		background-position: 0 0;
//	}
//}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-link-bc {
	display: flex;
	font-size: 11/16+rem;
	span {
		opacity: 0.4;
	}
	li {
		display: inline-flex;
	}
	li:not(:first-child):before {
		content: 'Ôºè';
		pointer-events: none;
		margin-inline: 5/16+rem;
	}
	a:hover {
		color: var(--color-accent);
	}
	@include config.sp-tab {
		flex-wrap: wrap;
	}
	@include config.pc {
		font-size: 14/16+rem;
		li:not(:first-child):before {
			margin-inline: 8/16+rem;
		}
	}
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-link-local {
	display: flex;
	gap: 11/16+rem;
	font-size: 13/16+rem;
	font-family: var(--Mona);
	li {
		position: relative;
		p,a {
			span:nth-child(2) {
				position: relative;
				top: 0.2em;
			}
		}
		p {
			opacity: 0.4;
		}
	}
	li:not(:first-child):before {
		content: '';
		display: block;
		width: 0;
		height: 12/16+rem;
		position: absolute;
		left: -6/16+rem;
		top: calc(50% - #{6/16+rem});
		pointer-events: none;
		border-left: var(--border);
		opacity: 0.4;
	}
	a:hover {
		color: var(--color-accent);
	}
	@include config.pc {

	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-link-underline {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/