@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-link' as link;
/*----------------------------------------------------
	フッター
----------------------------------------------------*/
.l-footer {
	margin-top: 70/16+rem;
	position: relative;
	background: var(--footer, #007CBE);
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: -80/16+rem;
		pointer-events: none;
		background: url(../img/bg-footer.svg) 0 0 repeat-x;
		background-size: #{310/16+rem} auto;
	}
	@include config.pc {
		margin-top: 0;
		&:before {
			top: -10/16+rem;
			background-size: #{384/16+rem} auto;
		}
	}
}
.l-footer__wrap {
	display: grid;
	padding: 0 0 80/16+rem;
	@include config.pc {
		padding: 110/16+rem 0 100/16+rem;
		width: 1228/16+rem;
		margin-inline: auto;
		grid-template-areas:
			"nav logo logo"
			"nav sns sns"
			"nav info expo"
		;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto 1fr;
		gap: 0;
	}
}
.l-footer-nav {
	position: relative;
	@include config.pc {
		grid-area: nav;
		margin-top: 30/16+rem;
		margin-right: 164/16+rem;
		width: 610/16+rem;
	}
}
.l-footer-nav__locale {
	display: none;
	gap: 17/16+rem;
	font-size: 13/16+rem;
	li {
		position: relative;
	}
	li:not(:first-child):before {
		content: '';
		display: block;
		width: 0;
		height: 17/16+rem;
		position: absolute;
		left: -9/16+rem;
		top: calc(50% - #{8.5/16+rem});
		pointer-events: none;
		border-left: var(--border-gray);
	}
	a {
		&:hover {
			color: var(--color-accent);
		}
	}
	@include config.pc {
		display: flex;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
.l-footer-logo {
	margin-top: 30/16+rem;
	svg {
		width: 309/16+rem;
		height: auto;
	}
	@include config.pc {
		margin-top: 10/16+rem;
		grid-area: logo;
		svg {
			width: 452/16+rem;
		}
	}
}
.l-footer-sns {
	margin-top: 24/16+rem;
	display: flex;
	gap: 15/16+rem;
	svg {
		width: 20/16+rem;
		height: 20/16+rem;
		object-fit: contain;
		fill: #fff;
		transition: var(--easeDuration) var(--easeTheme);
	}
	a:hover {
		svg {
			fill: var(--color-accent);
		}
	}
	@include config.pc {
		margin-top: 13/16+rem;
		grid-area: sns;
	}
}
.l-footer-info {
	margin-top: 24/16+rem;
	margin-left: -8/16+rem;
	display: flex;
	flex-direction: column;
	gap: 2/16+rem;
	font-size: 11/16+rem;
	letter-spacing: 0.02em;
	dl {
		display: flex;
	}
	dt {
		width: 46/16+rem;
	}
	dd {
		width: 180/16+rem;
	}
	@include config.pc {
		margin-top: 90/16+rem;
		margin-left: -8/16+rem;
		gap: 7/16+rem;
		grid-area: info;
		font-size: 13/16+rem;
		letter-spacing: 0;
		dt {
			width: 52/16+rem;
		}
		dd {
			width: 260/16+rem;
		}
	}
}
.l-footer-expo {
	img {
		width: 73/16+rem;
	}
	@include config.sp-tab {
		margin: -38/16+rem 15/16+rem 0 auto;
	}
	@include config.pc {
		margin: 96/16+rem -60/16+rem 0 0;
		grid-area: expo;
		img {
			width: 128/16+rem;
		}
	}
}
.l-footer__pagetop {
	position: absolute;
	right: 23/16+rem;
	bottom: 15/16+rem;
	@include config.pc {}
}