@use '../Base/config' as config;
/*----------------------------------------------------
	l-header-drawer
----------------------------------------------------*/
.l-header-drawer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	inset: 0;

	overflow: auto;
	z-index: 450;

	pointer-events: none;
	opacity: 0;
	overscroll-behavior: none;
	.is-nav-open & {
		opacity: 1;
		pointer-events: auto;
	}
	@include config.pc {}
}
.l-header-drawer__bg {
	display: block;
	width: 100%;
	height: 40%;
	position: fixed;
	left: 0;
	top: 30%;
	pointer-events: none;
	background: var(--blue, #008CD6);
	opacity: 0;
	transition: .5s var(--easeTheme);
	backface-visibility: hidden;
	.is-nav-open & {
		height: 100%;
		top: 0;
		opacity: 1;
	}
}
.l-header-drawer__wrap {
	position: relative;
	height: 100%;
	opacity: 0;
	transition: .8s var(--easeTheme) .2s;
	transform: translateY(#{25/16+rem});
	backface-visibility: hidden;
	.is-nav-open & {
		height: 100%;
		opacity: 1;
		transform: translateY(0);
	}
}
.l-header-drawer__inner {
	padding: 120/16+rem 20/16+rem;
	display: grid;
	gap: 55/16+rem;
	@include config.pc {
		padding: 169/16+rem 104/16+rem;
		grid-template-areas:
			"recommend nav"
		;
		gap: 90/16+rem 104/16+rem;
		grid-template-columns: 519/16+rem 1fr;
	}
}
.l-header-drawer__nav {
	@include config.pc {
		margin-top: 10/16+rem;
		grid-area: nav;
	}
}
.l-header-drawer-recommend {
	@include config.pc {
		grid-area: recommend;
	}
}
.l-header-drawer-recommend__head {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 15/16+rem;
	border-bottom: var(--border-gray);

	font-size: 28/16+rem;
	line-height: 1;
	span:nth-child(2) {
		font-size: 12/16+rem;
		font-weight: 600;
		font-family: var(--sans600);
		letter-spacing: 0.02em;
	}
	@include config.pc {
		padding-bottom: 30/16+rem;
		font-size: 35/16+rem;
		span:nth-child(2) {
			font-size: 14/16+rem;
		}
	}
}
.l-header-drawer-recommend__list {
	margin-top: 29/16+rem;
}
.l-header-drawer__cta {
	@include config.pc {
		grid-area: cta;
		width: 235/16+rem;
	}
}
