@use '../Base/config' as config;
@use '../Component/c-paragraph' as paragraph;
@use '../Utility/u-utility' as utility;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.cm-modal[aria-hidden="true"] {
	display: none;
	pointer-events: none;
}

.cm-modal.is-open {
	display: block;
}
.cm-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 600;
}

.cm-modal__overlay {
	height: 100vh;
	background: rgba(#F1F2F4, 0.8);
	//backdrop-filter: blur(50/16+rem);

	display: flex;
	justify-content: center;
	align-items: center;
}

.cm-modal__container {
	position: relative;
	padding: 100/16+rem 20/16+rem;
	height: 100vh;
	z-index: 20;
	background: #edebeb;
	color: var(--color);
	overflow-y: auto;
	@include config.pc {
		padding: 150/16+rem 80/16+rem 150/16+rem 120/16+rem;
	}
}

.cm-modal__close {
	position: absolute;
	right: 20/16+rem;
	top: 20/16+rem;
	z-index: 100;
	cursor: pointer;
	@include config.pc {
		right: calc(50% - #{660/16+rem});
		top: calc(var(--header-height) + #{80/16+rem});
	}
}
#modal-spot.cm-modal[aria-hidden="true"] {
	display: none;
	pointer-events: none;
}
#modal-spot.cm-modal {
	position: relative;
	@include config.pc {
		position: absolute;
		right: 0;
		top: 0;
		left: auto;
		bottom: auto;
		width: 577/16+rem;
		height: 800/16+rem;
	}
}
/**************************\
  Demo Animation Style
\**************************/
//@keyframes mmfadeIn {
//	from { opacity: 0; }
//	to { opacity: 1; }
//}
//
//@keyframes mmfadeOut {
//	from { opacity: 1; }
//	to { opacity: 0; }
//}
//
//@keyframes mmslideIn {
//	from { transform: translateY(15%);opacity: 0; }
//	to { transform: translateY(0); opacity: 1;}
//}
//
//@keyframes mmslideOut {
//	from { transform: translateY(0);opacity: 0; }
//	to { transform: translateY(-10%); opacity: 1;}
//}
//.cm-modal[aria-hidden="false"] .cm-modal__overlay {
//	opacity: 0;
//	animation: mmfadeIn .3s .2s cubic-bezier(0.0, 0.0, 0.2, 1) forwards;
//}
//
//.cm-modal[aria-hidden="false"] .cm-modal__container {
//	opacity: 0;
//	animation: mmslideIn .3s .2s cubic-bezier(0, 0, .2, 1) forwards;
//}
//
//.cm-modal[aria-hidden="true"] .cm-modal__overlay {
//	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1) forwards;
//}
//
//.cm-modal[aria-hidden="true"] .cm-modal__container {
//	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1) forwards;
//}
//
//.cm-modal .cm-modal__container,
//.cm-modal .cm-modal__overlay {
//	will-change: transform;
//}
@keyframes modalAbout1 {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
@keyframes modalAbout2 {
	from {
		transform: translateY(#{25/16+rem});
	}
	to {
		transform: translateY(0);
	}
}
@keyframes modalAbout3 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-modal-about {
	display: flex;
	width: calc(100% - #{40/16+rem});
	height: calc(100% - (var(--header-height)) * 2);
	overflow: auto;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: #007CBE;
		transform: scale(0);
	}
	.cm-modal[aria-hidden="false"] &:before {
		will-change: transform;
		backface-visibility: hidden;
		animation: modalAbout1 .5s var(--easeTheme) forwards;
	}
	@include config.pc {
		align-items: center;
		width: 1228/16+rem;
		height: calc(100% - (var(--header-height)) * 2);
	}
}
.cm-modal-about__wrap {
	display: flex;
	flex-direction: column;
	gap: 20/16+rem;
	padding: 30/16+rem 20/16+rem;
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 0;
	.cm-modal[aria-hidden="false"] & {
		will-change: opacity, transform;
		backface-visibility: hidden;
		animation: modalAbout3 var(--easeDuration) var(--easeTheme) forwards;
		animation-delay: 0.3s;
	}
	@include config.pc {
		flex-direction: row-reverse;
		align-items: center;
		gap: 88/16+rem;
		padding: 100/16+rem 100/16+rem;
	}
}
.cm-modal-about__content,
.cm-modal-about__movie {
	transform: translateY(#{25/16+rem});
	backface-visibility: hidden;
	.cm-modal[aria-hidden="false"] & {
		animation: modalAbout2 var(--easeDuration) var(--easeTheme) forwards;
		animation-delay: 0.3s;

	}
}
.cm-modal-about__content {
	flex: 1;
}
.cm-modal-about__head {

}
.cm-modal-about__title1 {
	font-feature-settings: 'palt' on;
	font-size: 30/16+rem;
	font-weight: 500;
	line-height: 1.5;
	span:nth-child(2) {
		position: relative;
		font-size: 40/16+rem;
		&:before,
		&:after, {
			content: "”";
			position: relative;
			font-size: 30/16+rem;
		}
		&:before {
			top: -0.3em;
		}
		&:after {
			top: 0.6em;
		}
	}
	@include config.pc {
		font-size: 40/16+rem;
		span:nth-child(2) {
			font-size: 50/16+rem;
			&:before,
			&:after, {
				font-size: 40/16+rem;
			}
		}
	}
}
.cm-modal-about__title2 {
	font-feature-settings: 'palt' on;
	font-size: 18/16+rem;
	font-weight: 600;
	line-height: 150%;
	letter-spacing: 0.02em;
	@include config.pc {
		font-size: 20/16+rem;
	}
}
.cm-modal-about__body {
	margin-top: 20/16+rem;
	@extend .c-paragraph;
	@include config.pc {
		margin-top: 55/16+rem;
	}
}
.cm-modal-about__foot {
	margin-top: 20/16+rem;
	font-size: 13/16+rem;
	text-align: right;
	@include config.pc {
		margin-top: 80/16+rem;
		font-size: 14/16+rem;
	}
}
.cm-modal-about__movie {
	display: flex;
	flex-direction: column;
	gap: 15/16+rem;
	#modal-about-youtube,
	iframe {
		width: 100%;
		height: auto;
		aspect-ratio: 16 / 9;
	}
	@include config.pc {
		width: 500/16+rem;
	}
}
.cm-modal-about__more {

}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

.cm-modal-spot {
	position: relative;
	background: var(--bg, #D8EBF9);
	padding: 20/16+rem 20/16+rem;
	@include config.pc {
		padding: 30/16+rem 40/16+rem;
	}
}
.cm-modal-spot__close {
	width: 40/16+rem;
	position: absolute;
	left: -22/16+rem;
	top: 15/16+rem;
	@include config.sp-tab {
		display: none;
	}
	@include config.pc {
		width: 60/16+rem;
		left: -42/16+rem;
		top: 35/16+rem;
	}
}
.cm-modal-spot__ctrl {
	display: flex;
	justify-content: flex-end;
	gap: 10/16+rem;
	padding-bottom: 10/16+rem;
	button {
		width: 28/16+rem;
		height: 28/16+rem;
	}
	button:nth-child(1) {
		transform: rotate(-180deg);
	}
	@include config.pc {
		button {
			width: 40/16+rem;
			height: 40/16+rem;
		}
	}
}
.cm-modal-spot-card {
	display: flex;
	flex-direction: column;
	gap: 20/16+rem;
	@include config.pc {}
}
.cm-modal-spot-card__head {
	display: flex;
	gap: 15/16+rem;
	@include config.pc {}
}
.cm-modal-spot-card__no {
	display: inline-flex;
	padding-top: 4/16+rem;
	gap: 2/16+rem;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 40/16+rem;
	height: 40/16+rem;
	aspect-ratio: 1/1;
	border-radius: 100%;
	background: var(--color);

	color: #FFF;
	text-align: center;
	//font-family: "Roc Grotesk";
	font-size: 10/16+rem;
	font-weight: 500;
	line-height: 1;
	._no {
		font-size: 13/16+rem;
	}
	@include config.pc {
		width: 48/16+rem;
		height: 48/16+rem;
		font-size: 10/16+rem;
		._no {
			font-size: 13/16+rem;
		}
	}
}
.cm-modal-spot-card__name {
	display: flex;
	flex-direction: column;
	font-size: 20/16+rem;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: -0.02em;
	small {
		font-size: 16/16+rem;
	}
	@include config.pc {
		font-size: 25/16+rem;
		small {
			font-size: 20/16+rem;
		}
	}
}
.cm-modal-spot-card__pic {
	img {
		width: 100%;
		height: 100%;
		aspect-ratio: 500 / 240;
		object-fit: cover;
	}
}
.cm-modal-spot-card__desc {
	color: var(--black, #1B1B1B);
	text-align: justify;
	font-feature-settings: 'palt' on;
	font-size: 16/16+rem;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.02em;
	@include config.pc {}
}
.cm-modal-spot-card__info {
	padding-top: 20/16+rem;
	display: flex;
	flex-direction: column;
	gap: 2/16+rem;
	border-top: var(--border-gray-light);
	dl {
		display: flex;
		gap: 30/16+rem;
		//font-family: "Roc Grotesk";
		font-size: 14/16+rem;
		line-height: 1.75;
		letter-spacing: 0.02em;
	}
	dt {
		width: 62/16+rem;
		display: flex;
		align-items: baseline;
		span._c3 {
			width: 3em;
			border-bottom: var(--border);
		}
		span._c4 {
			width: 3.5em;
			border-bottom: var(--border);
		}

	}
	dd {
		flex: 1;
	}
	.cm-modal-spot-card__sns {
		display: flex;
		gap: 20/16+rem;
		li:has(a[href=""]) {
			display: none;
		}
	}
	@include config.pc {}
}
.cm-modal-spot-card__more {
	margin-top: 15/16+rem;
	text-align: right;
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
