@use '../Base/config' as config;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.p-top {
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-mv {
	position: relative;
	padding: var(--header-height) 0 var(--padding-section-lg);
	overflow: hidden;
	@include config.pc {

		position: relative;
		padding: 8rem 0 3rem;
		overflow: hidden;
	}
}
.p-top-mv-map {
	margin-top: 30/16+rem;
	position: relative;
	left: calc(50% - #{240px});
	width: 552/16+rem;
	height: 440/16+rem;
	//aspect-ratio: 1440 / 1024;
	@include config.pc {
		margin: -40/16+rem auto 0;
		left: 0;
		width: 1320/1440*100vw;
		height: auto;
		aspect-ratio: 1440 / 750;
	}
}
.p-top-mv-map__bg {
	position: absolute;
	top: -110px;
	left: 52px;
	width: 375px;
	opacity: 0.5;
	filter: grayscale(1);
}
.p-top-mv-map__lines {
	figure {
		position: absolute;
		width: 10%;
		z-index: 5;
		opacity: 0;
	}
	figure:nth-child(1) {
		width: #{159/552*100%};
		left: #{200/552*100%};
		top: #{(85)/440*100%};
	}
	figure:nth-child(2) {
		width: #{138/552*100%};
		left: #{92/552*100%};
		top: #{(70)/440*100%};
	}
	figure:nth-child(3) {
		width: #{243/552*100%};
		left: #{103/552*100%};
		top: #{(196)/440*100%};
	}
	figure:nth-child(4) {
		width: #{57/552*100%};
		left: #{83/552*100%};
		top: #{(216)/440*100%};
	}
	figure:nth-child(5) {
		width: #{114/552*100%};
		left: #{0/552*100%};
		top: #{(217)/440*100%};
	}
	figure:nth-child(6) {
		width: #{119/552*100%};
		left: #{84/552*100%};
		top: #{(345)/440*100%};
	}
	figure:nth-child(7) {
		width: #{184/552*100%};
		left: #{145/552*100%};
		top: #{(248)/440*100%};
	}
	figure:nth-child(8) {
		width: #{251/552*100%};
		left: #{284/552*100%};
		top: #{(245)/440*100%};
	}
	figure:nth-child(9) {
		width: #{172/552*100%};
		left: #{379/552*100%};
		top: #{(214)/440*100%};
	}
	figure:nth-child(10) {
		width: #{59/552*100%};
		left: #{355/552*100%};
		top: #{(122)/440*100%};
	}
	figure:nth-child(11) {
		width: #{177/552*100%};
		left: #{206/552*100%};
		top: #{(65)/440*100%};
	}
	figure:nth-child(12) {
		width: #{160/552*100%};
		left: #{100/552*100%};
		top: #{(370)/440*100%};
	}
	figure:nth-child(13) {
		width: #{160/552*100%};
		left: #{240/552*100%};
		top: #{(364)/440*100%};
	}
	figure:nth-child(14) {
		width: #{160/2/552*100%};
		left: #{378/552*100%};
		top: #{(362)/440*100%};
	}

	@include config.pc {
		figure:nth-child(1) {
			width: #{385.5/1440*100%};
			left: #{421/1440*100%};
			top: #{(131-100)/750*100%};
		}
		figure:nth-child(2) {
			width: #{334/1440*100%};
			left: #{214/1440*100%};
			top: #{(124-100)/750*100%};
		}
		figure:nth-child(3) {
			width: #{590/1440*100%};
			left: #{237/1440*100%};
			top: #{(367-100)/750*100%};
		}
		figure:nth-child(4) {
			width: #{139/1440*100%};
			left: #{194/1440*100%};
			top: #{(458-100)/750*100%};
		}
		figure:nth-child(5) {
			width: #{276/1440*100%};
			left: #{26/1440*100%};
			top: #{(454-100)/750*100%};
		}
		figure:nth-child(6) {
			width: #{493.5/1440*100%};
			left: #{35/1440*100%};
			top: #{(596-100)/750*100%};
		}
		figure:nth-child(7) {
			width: #{372.5/1440*100%};
			left: #{434/1440*100%};
			top: #{(513-100)/750*100%};
		}
		figure:nth-child(8) {
			width: #{662.5/1440*100%};
			left: #{735/1440*100%};
			top: #{(538-100)/750*100%};
		}
		figure:nth-child(9) {
			width: #{374.5/1440*100%};
			left: #{1034/1440*100%};
			top: #{(446-100)/750*100%};
		}
		figure:nth-child(10) {
			width: #{143.5/1440*100%};
			left: #{994/1440*100%};
			top: #{(260-100)/750*100%};
		}
		figure:nth-child(11) {
			width: #{646.5/1440*100%};
			left: #{464/1440*100%};
			top: #{(133-100)/750*100%};
		}
		figure:nth-child(12) {
			width: #{773/2/1440*100%};
			left: #{481/1440*100%};
			top: #{(688-100)/750*100%};
		}
		figure:nth-child(13) {
			width: #{773/2/1440*100%};
			left: #{818/1440*100%};
			top: #{(682-100)/750*100%};
		}
		figure:nth-child(14) {
			width: #{773/2/1440*100%};
			left: #{1155/1440*100%};
			top: #{(661-100)/750*100%};
		}

	}
}

.p-top-mv-map__cultures {
	li {
		position: absolute;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 18/16+rem;
		font-family: var(--Mona);
		font-weight: 400;
		line-height: 1;
		text-transform: capitalize;
		opacity: 0;
		span {
			position: relative;
			z-index: 2;
		}
		._dot {
			display: inline-flex;
			width: 16/16+rem;
			height: 16/16+rem;
			border-radius: 100%;
			background: #000;
			margin-right: 10/16+rem;
		}
		@include config.pc {
			font-size: 40/16+rem;
			._dot {
				width: 30/16+rem;
				height: 30/16+rem;
			}
		}
	}
	._Art {
		left: #{218/550*100%};
		top: #{(56)/440*100%};
	}
	._Sciences {
		left: #{307/550*100%};
		top: #{(246)/440*100%};
	}
	._Music {
		left: #{100/550*100%};
		top: #{(200)/440*100%};
	}
	._Theater {
		left: #{175/550*100%};
		top: #{(338)/440*100%};
	}
	._history {
		left: #{38/550*100%};
		top: #{(706)/440*100%};
	}
	._education {
		left: #{330/550*100%};
		top: #{(293)/440*100%};
	}
	._research {
		left: #{392/550*100%};
		top: #{(311)/440*100%};
	}
	._Literature {
		left: #{130/550*100%};
		top: #{(252)/440*100%};
	}
	._Ceramic {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-end;
		gap: 5/16+rem;
		._dot {
			margin-right: 0;
		}
		left: #{336/550*100%};
		top: #{(362)/440*100%};
	}
	._Performing {
		left: #{337/550*100%};
		top: #{(167)/440*100%};
	}
	._Architecture {
		display: flex;
		flex-direction: column-reverse;
		gap: 5/16+rem;
		left: #{258/550*100%};
		top: #{(103)/440*100%};
	}
	._Design {
		left: #{142/550*100%};
		top: #{(410)/440*100%};
	}
	@include config.sp-tab {
		._Architecture {
			align-items: flex-end;
		}
		._Performing {
			align-items: flex-end;
		}
		._education {
			flex-direction: column-reverse;
			align-items: flex-end;
		}
		._Ceramic {
			flex-direction: column-reverse;
			align-items: flex-end;
		}

	}
	@include config.pc {
		._Art {
			left: #{458/1440*100%};
			top: #{(137-100)/750*100%};
		}
		._Sciences {
			left: #{770/1440*100%};
			top: #{(390-100)/750*100%};
		}
		._Music {
			left: #{230/1440*100%};
			top: #{(459-100)/750*100%};
		}
		._Theater {
			left: #{290/1440*100%};
			top: #{(560-100)/750*100%};
		}
		._history {
			left: #{38/1440*100%};
			top: #{(706-100)/750*100%};
		}
		._education {
			left: #{436/1440*100%};
			top: #{(638-100)/750*100%};
		}
		._research {
			left: #{504/1440*100%};
			top: #{(718-100)/750*100%};
		}
		._Literature {
			left: #{776/1440*100%};
			top: #{(524-100)/750*100%};
		}
		._Ceramic {
			display: flex;
			flex-direction: column-reverse;
			align-items: flex-end;
			gap: 5/16+rem;
			._dot {
				margin-right: 0;
			}
			left: #{1243/1440*100%};
			top: #{(659-96)/750*100%};
		}
		._Performing {
			left: #{1073/1440*100%};
			top: #{(441-96)/750*100%};
		}
		._Architecture {
			display: flex;
			flex-direction: column-reverse;
			gap: 5/16+rem;
			left: #{1030/1440*100%};
			top: #{(255-96)/750*100%};
		}
		._Design {
			left: #{843/1440*100%};
			top: #{(676-96)/750*100%};
		}
	}
}
.p-top-mv-map__pic {
	position: absolute;
	top: calc(100% - #{10/16+rem});
	left: 0;
	width: 105/16+rem;
	max-width: none;
	opacity: 0;
	._Architecture & {
		top: calc(100% - #{50/16+rem});
	}
	@include config.pc {
		width: 200/16+rem;
	}
}
.p-top-mv-map__type {
	position: absolute;
	width: #{302/552*100%};
	left: #{70/552*100%};
	top: 0;
	svg {
	    width: 100%;
	    height: auto;
	}
	path {
		opacity: 0;
	}
	@include config.pc {
		width: #{396/1440*100%};
		left: #{56/1440*100%};
		top: #{(90-90)/750*100%};
	}
}
.p-top-mv__txt {
	margin: 40/16+rem 0 0;
	text-align: right;
	svg {
		width: 300/16+rem;
		height: auto;
	}
	path {
		opacity: 0;
	}
	@include config.pc {
		text-align: left;
		padding-left: calc(var(--col9) + var(--gap9));
		svg {
			width: 336/16+rem;
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-news {
	position: relative;
	padding: 0;
	overflow: hidden;
	@include config.pc {}
}
.p-top-news__bg {
	content: '';
	display: block;
	width: 100%;
	height: 200%;
	position: absolute;
	left: 0;
	top: -200/16+rem;
	pointer-events: none;
	z-index: -1;
	@include config.pc {
		top: -400/16+rem;
	}
}
.p-top-news__wrap {
	position: relative;
}
.p-top-news__head {
	@include config.pc {}
}
.p-top-news__list {
	padding-top: var(--padding-section-md);
	@include config.sp-tab {
		margin-top: -20px;
	}
	@include config.pc {
		padding-top: 3rem;
	}
}
.p-top-news__more1 {
	margin-top: 20/16+rem;
	text-align: right;
	@include config.pc {}
}
.p-top-news__more2 {
	margin-top: 20/16+rem;
	@include config.pc {}
}
.p-top-news__category {
	margin-top: var(--padding-section-md);
	padding: 40/16+rem 0;
	border-top: var(--border-gray);
	border-bottom: var(--border-gray);
	overflow: hidden;
	display: flex;
	ul {
		display: flex;
		gap: 5/16+rem 0;
		padding-left: 6/16+rem;
		flex-shrink: 0;
		margin-left: -6/16+rem;

		will-change: transform;
		backface-visibility: hidden;
		li {
			margin-left: -6/16+rem;
		}
		a {
			display: inline-flex;
			padding: 0 12/16+rem;
			justify-content: center;
			align-items: center;
			gap: 10/16+rem;

			border-radius: 100/16+rem;
			border: var(--border-gray);
			background: #FFF;

			font-size: 13/16+rem;
			letter-spacing: 0.02em;
			&:hover {
				background: var(--color-accent);
				color: #fff;
			}
		}
	}
	@include config.sp-tab {
		ul {
			flex-wrap: nowrap;
			white-space: nowrap;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			&::-webkit-scrollbar {
				display: none;
				-webkit-appearance: none;
			}
		}
	}
	@include config.pc {
		a {
			padding: 1/16+rem 16/16+rem;
			font-size: 16/16+rem;
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-about {
	position: relative;
	z-index: 10;
	padding: var(--padding-page) 0 var(--padding-section-md);
	@include config.pc {}
}
.p-top-about__bg {

}
.p-top-about__wrap {
	@include config.pc {
		width: 842/16+rem;
		margin-inline: auto;
	}
}
.p-top-about__body {
	margin-top: 15/16+rem;

	color: var(--black, #1B1B1B);
	font-feature-settings: 'palt' on;
	font-size: 15/16+rem;
	font-weight: 500;
	line-height: 2;
	letter-spacing: 0.02em;
	text-align: justify;
	span:first-child {
		display: block;
		text-align: right;
	}
	@include config.pc {
		font-size: 22/16+rem;
	}
}
.p-top-about__more {
	margin-top: var(--padding-section);
	text-align: right;
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-creative {
	position: relative;
	padding: var(--padding-section-md) 0 var(--padding-page);
	overflow: hidden;
	@include config.pc {}
}
.p-top-creative__head {
	@include config.pc {
		padding-left: 90/16+rem;
	}
}
.p-top-creative__items {
	margin-top: 50/16+rem;
	display: flex;
	flex-direction: column;
	gap: 50/16+rem;
	position: relative;
	@include config.pc {
		gap: 0;
	}
}
.p-top-creative-item {
	@include config.pc {}
}
.p-top-creative-item__link {
	position: relative;
	display: flex;
	flex-direction: column;
	@include config.pc {}
}
.p-top-creative-item__pic {
	position: relative;
	width: 300/16+rem;
	@include config.pc {
		width: 650/16+rem;
	}
}
.p-top-creative-item__btn {
	position: absolute;
	left: calc(50% + #{100/16+rem});
	top: 185/16+rem;
	@include config.pc {
		left: 530/16+rem;
		top: 410/16+rem;
	}
}
.p-top-creative-item__desc {
	margin-top: 16/16+rem;
	width: 285/16+rem;
	@include config.pc {
		margin-top: 12/16+rem;
		width: 486/16+rem;
		margin-inline: auto;
	}
}
@include config.sp-tab {
	.p-top-creative-item:nth-child(1) {
		margin-left: auto;
		.p-top-creative-item__pic {
			width: 310/16+rem;
			left: 26/16+rem;
		}
		.p-top-creative-item__btn {}
		.p-top-creative-item__desc {
			margin-inline: auto;
		}
	}
	.p-top-creative-item:nth-child(2) {
		.p-top-creative-item__pic {
			width: 280/16+rem;
		}
		.p-top-creative-item__btn {
			top: 136/16+rem;
			left: calc(50% + #{70/16+rem});
		}
		.p-top-creative-item__desc {}
	}
	.p-top-creative-item:nth-child(3) {
		margin-top: -20/16+rem;
		margin-left: auto;
		.p-top-creative-item__pic {
			width: 270/16+rem;
			left: 20/16+rem;
		}
		.p-top-creative-item__btn {
			top: 190/16+rem;
			left: calc(50% + #{80/16+rem});
		}
		.p-top-creative-item__desc {}
	}
	.p-top-creative-item:nth-child(4) {
		margin-top: -20/16+rem;
		.p-top-creative-item__pic {
			width: 270/16+rem;
			left: -40/16+rem;
		}
		.p-top-creative-item__btn {
			top: 180/16+rem;
			left: calc(50% + #{70/16+rem});
		}
		.p-top-creative-item__desc {}
	}
}
@include config.tab {
	.p-top-creative-item:nth-child(1) {
		.p-top-creative-item__pic {
			width: 310*1.5/16+rem;
		}
		.p-top-creative-item__btn {
			left: calc(50% + #{100*1.5/16+rem});
			top: 185*1.5/16+rem;
		}
	}
	.p-top-creative-item:nth-child(2) {
		.p-top-creative-item__pic {
			width: 280*1.5/16+rem;
		}
		.p-top-creative-item__btn {
			top: 136*1.5/16+rem;
			left: calc(50% + #{70*1.5/16+rem});
		}
	}
	.p-top-creative-item:nth-child(3) {
		.p-top-creative-item__pic {
			width: 270*1.5/16+rem;
		}
		.p-top-creative-item__btn {
			top: 190*1.5/16+rem;
			left: calc(50% + #{80*1.5/16+rem});
		}
	}
	.p-top-creative-item:nth-child(4) {
		.p-top-creative-item__pic {
			width: 270*1.5/16+rem;
		}
		.p-top-creative-item__btn {
			top: 180*1.5/16+rem;
			left: calc(50% + #{70*1.5/16+rem});
		}
	}
}
@include config.pc {
	.p-top-creative__items {
		height: 1360/16+rem;
	}
	.p-top-creative-item {
		position: absolute;
		margin-top: -200/16+rem;
	}
	.p-top-creative-item:nth-child(1) {
		right: 100/16+rem;
		.p-top-creative-item__pic {}
		.p-top-creative-item__btn {}
		.p-top-creative-item__desc {}
	}
	.p-top-creative-item:nth-child(2) {
		top: 430/16+rem;
		left: -20/16+rem;
		.p-top-creative-item__pic {}
		.p-top-creative-item__btn {}
		.p-top-creative-item__desc {
			margin: 60/16+rem 0 0 130/16+rem;
		}
	}
	.p-top-creative-item:nth-child(3) {
		right: 90/16+rem;
		top: 620/16+rem;
		.p-top-creative-item__pic {
			width: 540/16+rem;
		}
		.p-top-creative-item__btn {
			left: 430/16+rem;
		}
		.p-top-creative-item__desc {
			margin: 20/16+rem 0 0 28/16+rem;
		}
	}
	.p-top-creative-item:nth-child(4) {
		left: 60/16+rem;
		top: 1030/16+rem;
		.p-top-creative-item__link {
			flex-direction: row;
			align-items: flex-end;
		}
		.p-top-creative-item__pic {
			width: 580/16+rem;
		}
		.p-top-creative-item__btn {
			top: 364/16+rem;
			left: 480/16+rem;
		}
		.p-top-creative-item__desc {
			margin-inline: auto;
			padding-bottom: 100/16+rem;
		}
	}
}

.p-top-creative__more {
	margin-top: var(--padding-section);
	@include config.pc {
		max-width: 1182/16+rem;
		margin-inline: auto;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-map {
	position: relative;
	overflow: hidden;
	@include config.pc {
		padding-top: 15/16+rem;
	}
}
.p-top-map__wrap {
	margin-inline: auto;
	padding: var(--padding-section-md) 20/16+rem var(--padding-section-lg);
	@include config.pc {
		max-width: 1360/16+rem;
		padding: var(--padding-section-md) 64/16+rem var(--padding-section-lg);
		background: #fff;
	}
}
.p-top-map__head {
	@include config.pc {}
}
.p-top-map__title {
	font-size: 32/16+rem;
	line-height: 175%; /* 56/16+rem */
	letter-spacing: -0.02em;
	font-family: var(--Mona);
	@include config.pc {
		font-size: 58/16+rem;
		line-height: 1.35;
	}
}
.p-top-map__desc {
	font-size: 10/16+rem;
	font-weight: 500;
	line-height: 1.1;
	font-family: var(--Mona);
	@include config.pc {
		font-size: 14/16+rem;
	}
}
.p-top-map-area {
	position: relative;
	margin-inline: calc(50% - 50vw);
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	&::-webkit-scrollbar {
	  display: none;
	  -webkit-appearance: none;
	}

	cursor: grab;
	user-select: none;
	&.active {
		cursor: grabbing;
	}
	@include config.pc {
		margin-top: -20/16+rem;

	}
}
.p-top-map-area__wrap {
	width: 766/16+rem;
	position: relative;
	@include config.pc {
		width: 1596/16+rem;
	}
}
.p-top-map-area__list {
	button {
		position: absolute;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 22/16+rem;
		height: 22/16+rem;
		border-radius: 100%;
		background: rgba(#000, 1);
		color: #fff;
		&.is-current,
		&:hover {
			background: var(--color-assort);
			transition-duration: .1s;
		}
	}
	button[data-spot-id="1"] {
		left: 16.5%;
		top: 43.5%;
	}
	button[data-spot-id="2"] {
		left: 31.5%;
		top: 41%;
	}
	button[data-spot-id="3"] {
		left: 32%;
		top: 33%;
	}
	button[data-spot-id="4"] {
		left: 35%;
		top: 29%;
	}
	button[data-spot-id="5"] {
		left: 30.5%;
		top: 20%;
	}
	button[data-spot-id="6"] {
		left: 33.2%;
		top: 17%;
	}
	button[data-spot-id="7"] {
		left: 44.5%;
		top: 19%;
	}
	button[data-spot-id="8"] {
		left: 48%;
		top: 19%;
	}
	button[data-spot-id="9"] {
		left: 68%;
		top: 29%;
	}
	button[data-spot-id="10"] {
		left: 69.8%;
		top: 37%;
	}
	button[data-spot-id="11"] {
		left: 72.5%;
		top: 29%;
	}
	button[data-spot-id="12"] {
		left: 75.2%;
		top: 34%;
	}
	@include config.pc {
		button {
			width: 44/16+rem;
			height: 44/16+rem;
			font-size: 28/16+rem;
		}
	}
}
.p-top-map-area__map {
	img {
		width: 766/16+rem;
		max-width: none;
		pointer-events: none;
	}
	@include config.pc {
		img {
			width: 1596/16+rem;
		}
	}
}
/* map card */
.p-top-map__spots {
	margin-top: 20/16+rem;
	@include config.pc {
		margin-top: 0;
	}
}
.p-top-map-area__help {
	pointer-events: none;
	position: absolute;
	left: 280/16+rem;
	top: 240/16+rem;
	z-index: 5;
	display: inline-flex;
	align-items: center;
	color: var(--blue, #008CD6);
	font-family: var(--Mona);
	font-size: 14/16+rem;
	font-weight: 500;
	line-height: 1;
	i {
		width: 26/16+rem;
		height: 26/16+rem;
		position: relative;
		svg {
			position: absolute;
		    width: 100%;
		    height: auto;
			left: 0;
			fill: var(--color);
			animation: swipeArrow 3s var(--easeTheme) infinite;
		}
		svg:nth-child(2) {
			opacity: 0;
		}
	}
	&.scrolled {
		opacity: 0;
		transition: .2s var(--easeTheme);
	}
	@include config.pc {
		display: none;
	}
}
@keyframes swipeArrow {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	20% {
		transform: translate3d(60%, 0, 0);
		opacity: 0;
	}
	20.1% {
		transform: translate3d(-60%, 0, 0);
		opacity: 0;
	}
	40% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
