@use '../Base/config' as config;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.p-top {
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-mv {
	position: relative;
	padding-top: var(--header-height);
	@include config.pc {}
}
.p-top-mv__txt {
	margin: 40px 0 0;
	text-align: right;
	svg {
		width: 300px;
		height: auto;
	}
	@include config.pc {
		text-align: left;
		padding-left: calc(var(--col9) + var(--gap9));
		svg {
			width: 336px;
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-news {
	position: relative;
	padding: var(--padding-section-lg) 0 0;
	overflow: hidden;
	@include config.pc {}
}
.p-top-news__bg {
	content: '';
	display: block;
	width: 100%;
	height: 200%;
	position: absolute;
	left: 0;
	top: -200/16+rem;
	pointer-events: none;
	z-index: -1;
	@include config.pc {
		top: -400/16+rem;
	}
}
.p-top-creative__wrap {
	position: relative;
}
.p-top-creative__head {
	@include config.pc {}
}
.p-top-creative__list {
	padding-top: var(--padding-section-md);
	@include config.pc {}
}
.p-top-creative__more1 {
	margin-top: 20/16+rem;
	text-align: right;
	@include config.pc {}
}
.p-top-creative__more2 {
	margin-top: 20/16+rem;
	@include config.pc {}
}
.p-top-creative__category {
	margin-top: var(--padding-section-md);
	padding: 40/16+rem 0;
	border-top: var(--border-gray);
	border-bottom: var(--border-gray);
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 5/16+rem 0;
		padding-left: 6/16+rem;
		li {
			margin-left: -6/16+rem;
		}
		a {
			display: inline-flex;
			padding: 0 12/16+rem;
			justify-content: center;
			align-items: center;
			gap: 10/16+rem;

			border-radius: 100/16+rem;
			border: var(--border-gray);
			background: #FFF;

			font-size: 13/16+rem;
			letter-spacing: 0.02em;
			&:hover {
				background: var(--color-accent);
				color: #fff;
			}
		}
	}
	@include config.sp-tab {
		ul {
			flex-wrap: nowrap;
			white-space: nowrap;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			&::-webkit-scrollbar {
				display: none;
				-webkit-appearance: none;
			}
		}
	}
	@include config.pc {
		a {
			padding: 1/16+rem 16/16+rem;
			font-size: 16/16+rem;
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-about {
	position: relative;
	z-index: 10;
	padding: var(--padding-page) 0 var(--padding-section-md);
	@include config.pc {}
}
.p-top-about__bg {

}
.p-top-about__wrap {
	@include config.pc {
		width: 842/16+rem;
		margin-inline: auto;
	}
}
.p-top-about__body {
	margin-top: 15/16+rem;

	color: var(--black, #1B1B1B);
	font-feature-settings: 'palt' on;
	font-size: 15/16+rem;
	font-weight: 500;
	line-height: 2;
	letter-spacing: 0.02em;
	span:first-child {
		display: block;
		text-align: right;
	}
	@include config.pc {
		font-size: 22/16+rem;
	}
}
.p-top-about__more {
	margin-top: var(--padding-section);
	text-align: right;
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-creative {
	position: relative;
	padding: var(--padding-section-md) 0 var(--padding-page);
	overflow: hidden;
	@include config.pc {}
}
.p-top-creative__head {
	@include config.pc {
		padding-left: 90/16+rem;
	}
}
.p-top-creative__items {
	margin-top: 50/16+rem;
	display: flex;
	flex-direction: column;
	gap: 50/16+rem;
	position: relative;
	@include config.pc {
		gap: 0;
	}
}
.p-top-creative-item {
	@include config.pc {}
}
.p-top-creative-item__link {
	position: relative;
	display: flex;
	flex-direction: column;
	@include config.pc {}
}
.p-top-creative-item__pic {
	position: relative;
	width: 300/16+rem;
	@include config.pc {
		width: 650/16+rem;
	}
}
.p-top-creative-item__btn {
	position: absolute;
	left: calc(50% + #{100/16+rem});
	top: 185/16+rem;
	@include config.pc {
		left: 530/16+rem;
		top: 410/16+rem;
	}
}
.p-top-creative-item__desc {
	margin-top: 16/16+rem;
	width: 285/16+rem;
	@include config.pc {
		margin-top: 12/16+rem;
		width: 486/16+rem;
		margin-inline: auto;
	}
}
@include config.sp-tab {
	.p-top-creative-item:nth-child(1) {
		margin-left: auto;
		.p-top-creative-item__pic {
			width: 310/16+rem;
			left: 26/16+rem;
		}
		.p-top-creative-item__btn {}
		.p-top-creative-item__desc {
			margin-inline: auto;
		}
	}
	.p-top-creative-item:nth-child(2) {
		.p-top-creative-item__pic {
			width: 280/16+rem;
		}
		.p-top-creative-item__btn {
			top: 136/16+rem;
			left: calc(50% + #{70/16+rem});
		}
		.p-top-creative-item__desc {}
	}
	.p-top-creative-item:nth-child(3) {
		margin-top: -20/16+rem;
		margin-left: auto;
		.p-top-creative-item__pic {
			width: 270/16+rem;
			left: 20/16+rem;
		}
		.p-top-creative-item__btn {
			top: 190/16+rem;
			left: calc(50% + #{80/16+rem});
		}
		.p-top-creative-item__desc {}
	}
	.p-top-creative-item:nth-child(4) {
		margin-top: -20/16+rem;
		.p-top-creative-item__pic {
			width: 270/16+rem;
			left: -40/16+rem;
		}
		.p-top-creative-item__btn {
			top: 180/16+rem;
			left: calc(50% + #{70/16+rem});
		}
		.p-top-creative-item__desc {}
	}
}
@include config.pc {
	.p-top-creative__items {
		height: 1360/16+rem;
	}
	.p-top-creative-item {
		position: absolute;
		margin-top: -200/16+rem;
	}
	.p-top-creative-item:nth-child(1) {
		right: 100/16+rem;
		.p-top-creative-item__pic {}
		.p-top-creative-item__btn {}
		.p-top-creative-item__desc {}
	}
	.p-top-creative-item:nth-child(2) {
		top: 430/16+rem;
		left: -20/16+rem;
		.p-top-creative-item__pic {}
		.p-top-creative-item__btn {}
		.p-top-creative-item__desc {
			margin: 60/16+rem 0 0 130/16+rem;
		}
	}
	.p-top-creative-item:nth-child(3) {
		right: 90/16+rem;
		top: 620/16+rem;
		.p-top-creative-item__pic {
			width: 540/16+rem;
		}
		.p-top-creative-item__btn {
			left: 430/16+rem;
		}
		.p-top-creative-item__desc {
			margin: 20/16+rem 0 0 28/16+rem;
		}
	}
	.p-top-creative-item:nth-child(4) {
		left: 60/16+rem;
		top: 1030/16+rem;
		.p-top-creative-item__link {
			flex-direction: row;
			align-items: flex-end;
		}
		.p-top-creative-item__pic {
			width: 580/16+rem;
		}
		.p-top-creative-item__btn {
			top: 364/16+rem;
			left: 480/16+rem;
		}
		.p-top-creative-item__desc {
			margin-inline: auto;
			padding-bottom: 100/16+rem;
		}
	}
}

.p-top-creative__more {
	margin-top: var(--padding-section);
	@include config.pc {
		max-width: 1182/16+rem;
		margin-inline: auto;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-map {
	position: relative;
	overflow: hidden;
	@include config.pc {
		padding-top: 15/16+rem;
	}
}
.p-top-map__wrap {
	margin-inline: auto;
	padding: var(--padding-section-md) 20/16+rem var(--padding-section-lg);
	@include config.pc {
		max-width: 1360/16+rem;
		padding: var(--padding-section-md) 64/16+rem var(--padding-section-lg);
		background: #fff;
	}
}
.p-top-map__head {
	@include config.pc {}
}
.p-top-map__title {
	font-size: 32/16+rem;
	line-height: 175%; /* 56/16+rem */
	letter-spacing: -0.02em;
	@include config.pc {
		font-size: 58/16+rem;
		line-height: 1.35;
	}
}
.p-top-map__desc {
	font-size: 10/16+rem;
	font-weight: 500;
	line-height: 1.1;
	@include config.pc {
		font-size: 14/16+rem;
	}
}
.p-top-map-area {
	position: relative;
	margin-inline: calc(50% - 50vw);
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	&::-webkit-scrollbar {
	  display: none;
	  -webkit-appearance: none;
	}

	cursor: grab;
	user-select: none;
	&.active {
		cursor: grabbing;
	}
	@include config.pc {
		margin-top: -20/16+rem;

	}
}
.p-top-map-area__wrap {
	width: 766/16+rem;
	position: relative;
	@include config.pc {
		width: 1596/16+rem;
	}
}
.p-top-map-area__list {
	button {
		position: absolute;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 22/16+rem;
		height: 22/16+rem;
		border-radius: 100%;
		background: rgba(#000, 1);
		color: #fff;
		&.is-current,
		&:hover {
			background: var(--color-assort);
			transition-duration: .1s;
		}
	}
	button[data-spot-id="1"] {
		left: 16.5%;
		top: 46.5%;
	}
	button[data-spot-id="2"] {
		left: 31.5%;
		top: 45%;
	}
	button[data-spot-id="3"] {
		left: 32%;
		top: 36%;
	}
	button[data-spot-id="4"] {
		left: 35%;
		top: 32%;
	}
	button[data-spot-id="5"] {
		left: 30.5%;
		top: 23%;
	}
	button[data-spot-id="6"] {
		left: 33.2%;
		top: 20%;
	}
	button[data-spot-id="7"] {
		left: 44.5%;
		top: 21%;
	}
	button[data-spot-id="8"] {
		left: 48%;
		top: 21%;
	}
	button[data-spot-id="9"] {
		left: 68%;
		top: 32%;
	}
	button[data-spot-id="10"] {
		left: 69.8%;
		top: 40%;
	}
	button[data-spot-id="11"] {
		left: 72.5%;
		top: 32%;
	}
	button[data-spot-id="12"] {
		left: 74.8%;
		top: 38%;
	}
	@include config.pc {
		button {
			width: 44/16+rem;
			height: 44/16+rem;
			font-size: 28/16+rem;
		}
	}
}
.p-top-map-area__map {
	img {
		width: 766/16+rem;
		max-width: none;
		pointer-events: none;
	}
	@include config.pc {
		img {
			width: 1596/16+rem;
		}
	}
}
/* map card */
.p-top-map__spots {
	margin-top: 20/16+rem;
	@include config.pc {
		margin-top: 0;
	}
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
